[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: blue;
    width: 100%;
    text-align: center;   
    left: 0;
}
.tab {
    cursor: pointer;
    padding: 10px;
    color: black;
    text-decoration: underline;
    
}
a:link {
    color: black;
}

.container {
    width: 400px;    
    height: 700px;  
    background: pink;    
    padding: 20px;      
    display: flex;    
    flex-direction: column;
}

.tab-content {
    flex-grow: 1;
    overflow-y: auto;
    padding-bottom: 60px;
}
